In [4]:
import duckdb
%load_ext sql
conn = duckdb.connect()
%sql conn --alias duckdb

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
%%sql
CREATE TABLE team_table as select
  'Team name',
  Rating,
  City,
  Description,
  Members
from 'https://raw.githubusercontent.com/w4xxwrld/hackaton/refs/heads/main/Teams_db.csv?token=GHSAT0AAAAAACXW4PYAJQ6335B4DRLQVYVYZXMCQCQ'

Running query in 'duckdb'

+-------+
| Count |
+-------+
|   50  |
+-------+

In [6]:
%%sql

describe from '/Users/mike/Library/CloudStorage/OneDrive-Personal/Databases/Teams_db.csv'

Running query in 'duckdb'

+-------------+-------------+------+------+---------+-------+
| column_name | column_type | null | key  | default | extra |
+-------------+-------------+------+------+---------+-------+
|      Id     |    BIGINT   | YES  | None |   None  |  None |
|  Team name  |   VARCHAR   | YES  | None |   None  |  None |
|    Rating   |    DOUBLE   | YES  | None |   None  |  None |
|     City    |   VARCHAR   | YES  | None |   None  |  None |
| Description |   VARCHAR   | YES  | None |   None  |  None |
|   Members   |   VARCHAR   | YES  | None |   None  |  None |
+-------------+-------------+------+------+---------+-------+

In [8]:
%%sql

create table teams_table (
    Id BIGINT,
    "Team name" VARCHAR,
    Rating DOUBLE,
    City VARCHAR,
    Description VARCHAR,
    Members VARCHAR
)

Running query in 'duckdb'

+-------+
| Count |
+-------+
+-------+